@font-face {
    font-family: 'TT Lakes Condensed Medium';
    src: url('../fonts/TTLakesCondensed-Medium.eot');
    src: url('../fonts/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakesCondensed-Medium.woff') format('woff'),
    url('../fonts/TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed Bold';
    src: url('../fonts/TTLakesCondensed-Bold.eot');
    src: url('../fonts/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakesCondensed-Bold.woff') format('woff'),
    url('../fonts/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'TT Lakes Condensed Regular';
    src: url('../fonts/TTLakesCondensed-Regular.eot');
    src: url('../fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakesCondensed-Regular.woff') format('woff'),
    url('../fonts/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body{
  font-family: 'TT Lakes Condensed Regular';
  background-color: #F2F2F2;
  margin: 0;
}
h1{
 font-family: 'TT Lakes Condensed Bold';;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin: 0;
  padding-top: 24px;
}
h2,
h3,
h4,
h5{
    margin: 0;
}
p{
  font-family: 'TT Lakes Condensed Regular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin: 0;
}
button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  white-space: nowrap;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
ul{
  padding: 0;
}
.slider{
  background-color: #F2F2F2;
}
.swiper {
  height: 154px;
}
.swiper-wrapper{
  margin-left: 16px;
}
.slider__title{
  text-transform: uppercase;
  letter-spacing: -0.2px;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
}
.position{
    padding: 16px;
}
.slider__link{
    width: 240px;
  height: 72px;
    box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.slider__img-arrow{
  border: 2px solid #FF3E79;
  border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
  display: flex;
}
.swiper-pagination{
  margin-bottom: 28px;
}
.slider .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
  opacity: 1;
}
.slider .swiper-pagination-bullet-active{
  background-color: #B5B6BC;
}
.swiper-wrapper .swiper-slide{
    flex-shrink: 1;
}
.slider__button{
  font-family: 'TT Lakes Condensed Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  padding-left: 25px;
  position: relative;
}
.slider__button::before{
  content: url(../img/ic/icon.svg);
  position: absolute;
  left: 2px;
}
.hidden::before{
  content: url(../img/ic/icon.svg);
  position: absolute;
  left: 2px;
  transform: rotate(180deg);
}
.container{
    margin: 0 auto;
}

@media (min-width: 767px){
  .swiper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
  }
.swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    gap: 16px 23px;
    height: 160px;
    overflow-y: hidden;
    transition: height 0.3s linear;
  }
 .swiper--opened{
    height: 250px;
  }
.swiper-pagination{
  display: none;
}
  .container{
    width: 767px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
    .slider__link{
        width: 100%;
    }
    .slider__title{
        padding-left: 24px
    }
}
@media (min-width: 1120px){
  .container{
    width: 1120px;
  }
  .swiper .swiper-wrapper{
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px;
  }

}
