@font-face {
    font-family: 'TT Lakes Condensed Medium';
    src: url('../fonts/TTLakesCondensed-Medium.eot');
    src: url('../fonts/TTLakesCondensed-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakesCondensed-Medium.woff') format('woff'),
    url('../fonts/TTLakesCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Condensed Bold';
    src: url('../fonts/TTLakesCondensed-Bold.eot');
    src: url('../fonts/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakesCondensed-Bold.woff') format('woff'),
    url('../fonts/TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'TT Lakes Condensed Regular';
    src: url('../fonts/TTLakesCondensed-Regular.eot');
    src: url('../fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakesCondensed-Regular.woff') format('woff'),
    url('../fonts/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body{
  font-family: 'TT Lakes Condensed Regular';
  background-color: #F8F8F8;
  margin: 0;
}
h1{
 font-family: 'TT Lakes Condensed Bold';;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  margin: 0;
  padding-top: 24px;
}
p{
  font-family: 'TT Lakes Condensed Regular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  margin: 0;
}
button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  white-space: nowrap;
}
li{
  list-style: none;
}
ul{
  padding: 0;
  margin: 0;
}
.background{
  background-color: #FF3E79;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: center;
}
.menu{
  height: 100vh;
  max-width: 320px;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.container{
  display: flex;
  flex-direction: column;
  padding: 18px 24px 0px 24px;
  height: 95vh;
  gap: 10px;
}
.flex{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.menu__head{
  display: grid;
  grid-template-columns: 40px 100px 1fr;
  gap: 16px;
  align-items: center;
}
.menu__head a:last-child{
  justify-self: end;
}
.menu__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all .2s linear;
}
.hover-btn:hover{
  box-shadow: 0 0 5px 0 #34495e;
  border-radius: 50%;
}
.menu__logo{
  width: 97px;
  height: 51px;
}
.menu__nav{
  display: flex;
  flex-direction: column;
}
.menu__list{
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.menu__link{
  font-family: 'TT Lakes Condensed Medium';
  text-decoration: none;
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  position: relative;
  transition: all .2s linear;
}
.menu__link:hover::before{
  content: "";
  position: absolute;
  left: -24px;
  bottom: 0;
  width: 4px;
  height: 32px;
  background: rgba(65, 246, 215, 1);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.menu__link:hover{
  color: #7E7E82;
}
.menu-footer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.menu__buttons{
  display: flex;
  gap: 16px;
}
.contacts__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all .2s linear;
}
.menu__contacts{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__mail{
  font-family: 'TT Lakes Condensed Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
}
.menu__tel{
  font-family: 'TT Lakes Condensed Bold';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  text-decoration: none;
}
.menu__langs{
  display: flex;
  gap: 7px;
}
.changer{
  font-family: 'TT Lakes Condensed Medium';
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.changer:active{
  color: #7E7E82;
}
.changer:hover{
  color: #7E7E82;
}

